html, body, #root, .react-root {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
}

.purple {
  background-color: #a1adf9;
  color: white;
}

.pink {
  background-color: #fcb1e0;
  color: white;
}

.orange {
  background-color: #f9d694;
  color: white;
}